// Articles are for listing pages with a list of articles

.articles {
  justify-content: center;
  margin: 0 auto;

  @media (max-width: 1000px) {
    max-width: none;
  }
}

.article {
  border-bottom: 1px dotted #666;
  padding-top: 32px;
  margin-top: 32px;

  p {
    margin-bottom: 30px;
    margin-top: 0;
  }

  > *:first-child {
    margin-top: 0;
  }
}

.article__image {
  background-color: #fff;
  padding: 16px;
  display: block;
  margin-bottom: 32px;

  img {
    display: block;
    padding: 0;
    margin-bottom: 16px;
  }
}
