body,
html {
  height: 100%;
}
.bg {
  /* The image used */
  background-image: url('../assets/images/banner.jpg');

  /* Full height */
  width: 100vw;
  height: 100vh;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
