body,
html {
  height: 100%;
}
.bg {
  /* The image used */
  background-image: url('../assets/images/banner.jpg');

  /* Full height */
  width: 100vw;
  height: 100vh;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 3em;
}

.media-header-promo__button {
  position: absolute;
  bottom: 50px;
  left: 0;
  right: 0;
  margin-right: auto;
  margin-left: auto;
  width: 84px;
  height: 42px;
  background-color: transparent;
  border: none;
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(-5px);
  }
}

.visually-hidden {
  border: 0;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.media-header-promo__button::after {
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 3px;
  border-bottom: 2px solid #fff;
  border-right: 2px solid #fff;
  transform: rotate(45deg);
  margin: 0 auto;
}
.siteTitle {
  display: inline-block;
}
.wrapper {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 960px;
}

.header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0 20px;
  max-width: 840px;
}

.navigation {
  float: right;
  ul {
    margin: 0;
    padding: 0;
  }
  li {
    display: inline;
    list-style: none;
    margin-left: 20px;
  }
  a {
    text-decoration: none;
    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }
}
