.socialLinks ul {
  margin: 0;
  padding: 0;
}

.socialLinks__li {
  list-style: none;
  display: inline-block;
  margin: 0;
  padding: 0;
}

.socialLinks a {
  display: block;
  margin-right: 10px;
}

.socialLinks svg {
  height: 30px;
}
